<style>
.abstract-container {
    padding: 50px 0 30px 0; 
    text-align: center;
}
.abstract-container a {
    color: #444444;
}
.abstract-container a:hover {
    text-decoration: underline;
}
</style>

<section class="abstract-container">
    <div style="font-size: 22px; color: #666666;">
        <span>Koa-MSVC，一个基于 <a href="https://koa.bootcss.com/" target="_blank">Koa</a> 的 M(S)VC 案例</span>
    </div>
    <div style="font-size: 12px; padding: 8px 0;">
        <a href="/rtest?id=9948" target="_blank" title="API">[点此访问第一个 API]</a>
    </div>
</section>