<div class="app-header">
    <div class="layui-container"> 
        <a href="javascript:null;">
            <div class="protail-wrapper">
                <img class="log-img" src="public/images/log.jpg" />
                <span><%= title %></span>
            </div>
        </a>
        <!-- <ul class="layui-col-md9 layui-nav">
            <li class="layui-nav-item layui-this"><a href="javascript:null;">Admin</a></li>
        </ul> -->
    </div>
</div>    
    